@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Magical Yatzy Server</title>
</head>
<body>
    <div>
        <h2>This is just a server endpoint for yatzy online game</h2>
<a href ="http://sanet.by/dicepoker">Please visit this page for details</a>
    </div>
</body>
</html>
