<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="by.sanet.diceroller" android:versionCode="2" android:versionName="1.1.0.0">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Sanet Dice" android:icon="@drawable/icon"></application>
</manifest>