<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="43862AntonMakarevich.SanetDicePoker" Publisher="CN=DC1EF1A2-04E8-4269-B8EE-BF7A3DBF913C" Version="2.0.0.7" />
  <Properties>
    <DisplayName>ms-resource:AppNameLabel</DisplayName>
    <PublisherDisplayName>Anton Makarevich</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MagicalYatzyOnline.App">
      <VisualElements DisplayName="ms-resource:AppNameLabel" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Magical Yatzy Online Multiplazer dice game" ForegroundText="light" BackgroundColor="#009cd6">
        <DefaultTile ShowName="allLogos" ShortName="Magical Yatzy" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#009cd6" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>