BODY { 
      font-family:Arial; 
      font-style:normal; 
      font-weight:normal; 
      font-size:10.0pt; 
      background-color:ivory; 
      text-align:left; 
      text-indent:15.0pt; 
      color:#000000; 
      word-spacing:normal; 
      letter-spacing:normal;  }
A:active { 
          font-family:Arial; 
          font-size:8.0pt; 
          color:#0000ff; 
          x-text-underline:Off; 
          text-decoration:none;  }
A:hover { 
         color:#CC0033;  }
A:link { 
        color:#3366CC;  }
A:visited { 
           color:#9999CC;  }
.Body { 
       margin-left:30.0pt;  }
LI.kadov-CBody {  }
.BodyRelative {  }
LI.kadov-CBodyRelative {  }
.CellBody {  }
LI.kadov-CCellBody {  }
.CellHeading { 
              font-weight:bold; 
              text-align:center; 
              color:#003366;  }
LI.kadov-CCellHeading { 
                       font-weight:bold; 
                       text-align:center; 
                       color:#003366;  }
.GroupTitlesIX { 
                font-size:14.0pt; 
                color:#003366;  }
LI.kadov-CGroupTitlesIX { 
                         font-size:14.0pt; 
                         color:#003366;  }
.Heading1 { 
           font-weight:bold; 
           font-size:16.0pt; 
           color:#003366; 
           margin-top:20.0px;  }
LI.kadov-CHeading1 { 
                    font-weight:bold; 
                    font-size:16.0pt; 
                    color:#003366;  }
.Heading2 { 
           font-weight:normal; 
           font-size:13.0pt; 
           color:#003366;  }
LI.kadov-CHeading2 { 
                    font-weight:normal; 
                    font-size:13.0pt; 
                    color:#003366;  }
.Heading3 { 
           font-weight:bold; 
           font-size:10.0pt; 
           color:#003366;  }
LI.kadov-CHeading3 { 
                    font-weight:bold; 
                    font-size:10.0pt; 
                    color:#003366;  }
.Heading4 { 
           font-style:italic; 
           font-weight:bold; 
           font-size:8.0pt; 
           color:#003366;  }
LI.kadov-CHeading4 { 
                    font-style:italic; 
                    font-weight:bold; 
                    font-size:8.0pt; 
                    color:#003366;  }
.Indented1 {  }
LI.kadov-CIndented1 {  }
.Indented2 {  }
LI.kadov-CIndented2 {  }
.Indented3 {  }
LI.kadov-CIndented3 {  }
.Indented4 {  }
LI.kadov-CIndented4 {  }
.IndentedRelative {  }
LI.kadov-CIndentedRelative {  }
.Level1IX {  }
LI.kadov-CLevel1IX {  }
.Level12IX {  }
LI.kadov-CLevel12IX {  }
.Level13IX {  }
LI.kadov-CLevel13IX {  }
.NewHtmlPage { 
              font-weight:bold; 
              font-size:16.0pt; 
              text-align:center; 
              color:#003366; 
              margin-top:20.0px;  }
LI.kadov-CNewHtmlPage { 
                       font-weight:bold; 
                       font-size:16.0pt; 
                       text-align:center; 
                       color:#003366;  }
.Preformatted {  }
LI.kadov-CPreformatted {  }
.PreformattedRelative {  }
LI.kadov-CPreformattedRelative {  }
.SmartList1 {  }
LI.kadov-CSmartList1 {  }
.SmartList2 {  }
LI.kadov-CSmartList2 {  }
.SmartList3 {  }
LI.kadov-CSmartList3 {  }
.SmartList4 {  }
LI.kadov-CSmartList4 {  }
.TableTitle { 
             font-style:italic; 
             font-weight:bold; 
             text-align:center;  }
LI.kadov-CTableTitle { 
                      font-style:italic; 
                      font-weight:bold; 
                      text-align:center;  }
.Title { 
        font-weight:bold; 
        font-size:16.0pt; 
        text-align:center; 
        color:#003366; 
        margin-top:20.0px;  }
LI.kadov-CTitle { 
                 font-weight:bold; 
                 font-size:16.0pt; 
                 text-align:center; 
                 color:#003366;  }
.TOC1 { 
       font-weight:bold; 
       font-size:11.0pt;  }
LI.kadov-CTOC1 { 
                font-weight:bold; 
                font-size:11.0pt;  }
.TOC2 { 
       font-size:9.0pt;  }
LI.kadov-CTOC2 { 
                font-size:9.0pt;  }
.TOC3 { 
       font-size:8.0pt;  }
LI.kadov-CTOC3 { 
                font-size:8.0pt;  }
.TOC4 { 
       font-size:7.0pt;  }
LI.kadov-CTOC4 { 
                font-size:7.0pt;  }
.Code {  }
LI.kadov-CCode {  }
.CodeEmphasis { 
               font-style:italic;  }
LI.kadov-CCodeEmphasis { 
                        font-style:italic;  }
.CodeStrong { 
             font-weight:bold;  }
LI.kadov-CCodeStrong { 
                      font-weight:bold;  }
.Emphasis { 
           font-style:italic;  }
LI.kadov-CEmphasis { 
                    font-style:italic;  }
.EmphasisUnderline { 
                    font-style:italic; 
                    x-text-underline:normal; 
                    text-decoration:underline;  }
LI.kadov-CEmphasisUnderline { 
                             font-style:italic; 
                             x-text-underline:normal; 
                             text-decoration:underline;  }
.Strong { 
         font-weight:bold;  }
LI.kadov-CStrong { 
                  font-weight:bold;  }
.StrongUnderline { 
                  font-weight:bold; 
                  x-text-underline:normal; 
                  text-decoration:underline;  }
LI.kadov-CStrongUnderline { 
                           font-weight:bold; 
                           x-text-underline:normal; 
                           text-decoration:underline;  }
.SubScript {  }
LI.kadov-CSubScript {  }
.SuperScript {  }
LI.kadov-CSuperScript {  }
.WebJump {  }
LI.kadov-CWebJump {  }
P.TopicTitle-HLP { 
                  font-family:Arial; 
                  font-weight:bold; 
                  font-size:14.0pt; 
                  text-align:left; 
                  text-indent:0.0pt; 
                  color:#0000ff; 
                  border-bottom:solid #0000ff 0.5pt; 
                  margin-left:6.0pt; 
                  margin-right:6.0pt; 
                  margin-top:0.0pt; 
                  margin-bottom:12.0pt; 
                  padding-bottom:2.0pt; 
                  line-height:15.0pt; 
                  x-on-pageload:dropshadow(color=#cccccc);  }



P.TopicText-HLP {
		          font-family:Arial; 
                  font-size:12.0pt; 
                  text-align:left; 
                  text-indent:0.0pt; 
                                   
                  margin-bottom:12.0pt; 
                  padding-bottom:2.0pt; 
                  
                 text-align:left; 
                 text-indent:0.0pt; 
                 margin-left:6.0pt; 
                 margin-right:6.0pt; 
                 margin-top:6.0pt; 
                 line-height:14.0pt; 
                 
                 font-weight:normal; 
                 color:#000000; 
                 x-text-underline:off; 
                 margin-bottom:0; 
                   }
LI.kadov-P-CTopicText-HLP { 
                           text-align:left; 
                           text-indent:0.0pt; 
                           line-height:14.0pt; 
                           font-size:12pt; 
                           font-style:normal; 
                           font-weight:normal; 
                           color:#000000; 
                           x-text-underline:off; 
                           font-family:Arial; 
                           text-decoration:none;  }
P.TableText-HLP { 
                 font-family:Arial; 
                 font-size:8.0pt; 
                 text-align:left; 
                 text-indent:0.0pt; 
                 color:#000080; 
                 margin-left:6.0pt; 
                 margin-right:6.0pt; 
                 line-height:10.0pt; 
                 margin-top:2pt; 
                 margin-bottom:8pt; 
                 font-weight:normal; 
                 font-style:normal;  }
LI.kadov-P-CTableText-HLP { 
                           font-family:Arial; 
                           font-size:8.0pt; 
                           text-align:left; 
                           text-indent:0.0pt; 
                           color:#000080; 
                           line-height:10.0pt; 
                           font-weight:normal; 
                           font-style:normal;  }
P.NumList-HLP { 
               font-family:Arial; 
               font-size:8.0pt; 
               text-align:left; 
               text-indent:-1.0pt; 
               list-style-type:decimal; 
               color:#000080; 
               line-height:10.0pt; 
               margin-left:0.0pt; 
               margin-right:6.0pt; 
               margin-top:4.0pt; 
               margin-bottom:4.0pt;  }
LI.kadov-P-CNumList-HLP { 
                         font-family:Arial; 
                         font-size:8.0pt; 
                         text-align:left; 
                         text-indent:-1.0pt; 
                         list-style-type:decimal; 
                         color:#000080; 
                         line-height:10.0pt;  }
A.expandspot { 
              cursor:hand; 
              color:#0000ff; 
              x-text-underline:off; 
              font-style:normal; 
              text-decoration:none;  }
SPAN.expandtext { 
                 color:#0000ff; 
                 font-weight:normal; 
                 font-family:Arial;  }
A.dropspot { 
            cursor:hand; 
            color:#0000ff; 
            font-weight:normal; 
            font-style:normal; 
            x-text-underline:Off; 
            text-decoration:none;  }
A.glossterm { 
             cursor:hand; 
             color:#0000ff; 
             font-weight:normal; 
             font-style:normal; 
             x-text-underline:Off; 
             text-decoration:none;  }
SPAN.glosstext { 
                font-weight:normal; 
                font-style:italic; 
                background-color:Transparent; 
                color:#d1681c;  }
DIV.droptext { 
              font-style:normal; 
              font-weight:normal;  }
p.IntroText-hlp { 
                 text-align:left; 
                 text-indent:0.0pt; 
                 margin-left:6.0pt; 
                 margin-right:6.0pt; 
                 margin-top:4.0pt; 
                 line-height:10.0pt; 
                 font-style:normal; 
                 x-text-underline:off; 
                 margin-bottom:0; 
                 font-family:Arial; 
                 font-size:8pt; 
                 font-weight:bold; 
                 color:#00ffff; 
                 text-decoration:none;  }
LI.kadov-p-CIntroText-hlp { 
                           text-align:left; 
                           text-indent:0.0pt; 
                           line-height:10.0pt; 
                           font-style:normal; 
                           x-text-underline:off; 
                           font-family:Arial; 
                           font-size:8pt; 
                           font-weight:bold; 
                           color:#00ffff; 
                           text-decoration:none;  }
